html {
  scroll-behavior: smooth;
}

.dark-button:hover {
  box-shadow: 0 8px 25px rgba(52, 152, 169, 0.4) !important;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.light-button:hover {
  transform:
    scale(1.02);
  transition: 0.1s ease, transform 0.1s ease;
}