/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #259dc2;
  --ifm-color-primary-dark: #1f8bad;
  --ifm-color-primary-darker: #197a99;
  --ifm-color-primary-darkest: #135f77;
  --ifm-color-primary-light: #4bb1cf;
  --ifm-color-primary-lighter: #6fc3dc;
  --ifm-color-primary-lightest: #a8def0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(37, 157, 194, 0.15);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #259dc2;
  --ifm-color-primary-dark: #1f8fb3;
  --ifm-color-primary-darker: #1a7fa1;
  --ifm-color-primary-darkest: #136684;
  --ifm-color-primary-light: #4db0d1;
  --ifm-color-primary-lighter: #6fc0dc;
  --ifm-color-primary-lightest: #a7dbef;
  --docusaurus-highlighted-code-line-bg: rgba(37, 157, 194, 0.15);
}

.navbar__logo img {
   width: auto;
    height: 50px;
}

.navbar__logo {
  margin-bottom: 10px;
 
}

aside.col {
  flex: 0 0 15%;
  max-width: 15%;
}

main.col {
  flex: 0 0 85%;
  max-width: 85%;
}


